@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Roboto:wght@300;400&display=swap");
body {
  margin: 0;
  background-color: #f8fafc;
  font-family: "Roboto";
}
header {
  background-color: #e84545;
  padding: 1rem;
  display: flex;
  user-select: none;
}
button {
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  background: #e84545;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  text-decoration: none;
}
button:hover {
  background: #cf3c3c;
  text-decoration: none;
}
main {
  padding: 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 6px;
  margin-bottom: 6px;
}
select {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fcecdd;
  border: none;
  padding: 0.6rem;
  font-size: 18px;
  border-radius: 5px;
}
figure {
  margin: 0;
}
img {
  width: 300px;
  border-radius: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#logo {
  transform: rotate(-30deg);
  fill: #fff;
}
#brand-name {
  font-family: "Big Shoulders Stencil Display";
  font-size: 4rem;
  color: #fff;
  margin-bottom: 0px;
  margin-top: 1px;
}
.tagline {
  margin-top: 0px;
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
}
.category-description {
  font-size: 1.2rem;
}
.item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.description {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  flex-shrink: 2;
}
.price {
  font-weight: 700;
  font-size: 32px;
}
.special {
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 927px) {
  .item {
    flex-direction: column;
    text-align: center;
  }
}
